{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ user.profile.image.url }}" class="rounded circle account-img">
            <div class="media-body">
                <h2 class="account-head">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST">
           {% csrf_token %}
           <fieldset class="form-goup">
               <legend class="border-bottomi mb-4">Join Today</legend>
               {{ form|crispy }}
               <div class="form-group">
                   <button class="btn btn-outline-info" type="submit">Sign Up</button>
               </div>
           </fieldset>
       </form>
    </div>
{% endblock content %}
